

*{
	padding:0px;
	margin:0px;
	box-sizing: border-box;
	text-decoration: none;
	font-family: "fantasy";

}
body{
	background-image:url("collorfullbg.jpg");
   
}

.SEC1{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding-top: 70px;
   	
}


.SEC1 > .head1{
    font-size: 70px;
    color: rgb(206, 69, 244);
    text-shadow: 1px 1px 2px rgb(56, 216, 107), 0 0 25px rgb(45, 62, 240), 0 0 5px rgb(255, 5, 5);
}

.SEC1 > .p1{
    width:650px;
    font-size: 30px;
    color: rgb(255, 255, 255);
    text-shadow: 2px 2px 5px rgb(187, 21, 173);
    text-align: center;
}


.SEC1 >.butt1{

    background-color: rgb(141, 43, 226);
    border: none;
    border-radius: 5px;
    font-size: 25px;
    padding: 10px 20px;
    margin-top: 20px;
    letter-spacing: 2px;
    cursor: pointer;
    box-shadow:10px 5px 5px  rgb(45, 62, 240), 0 0 5px rgb(255, 5, 5);
    
}


.SEC1 >.butt1:hover {
    background-color: rgb(244, 0, 150);
}

.SEC1 >.butt1>a{
    color: rgb(26, 238, 164);
    
}

.btn-group{
    position: absolute;
    top: 32%;
    left: 22%;
    background-color: rgb(186, 152, 189);
    opacity: 10px;
    width: 55%;
    height: 50vh;
    border-radius: 10px;
    opacity: 0;
    pointer-events: none;
    transition: .3s ease;
}


.btn-group.active{
    opacity: 1;
    pointer-events: auto;
}

.hd{
    height: 90px;
}

.btn-group h1{
    display: flex;
    justify-content: center;
    color: rgb(56, 47, 47);
    font-size: 30px;
    text-shadow: 0 0 3px #FF0000, 0 0 5px #0000FF;
    
}

.btn-group .btn-1 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}



.btn-group .btn-cnt  {
    background-color: rgb(47, 45, 49);
    border: none;
    border-radius: 5px;
    color: aliceblue;
    font-size: 18px;
    padding: 10px 20px;
    margin-top: 20px;
    letter-spacing: 2px;
    cursor: pointer;
    box-shadow:10px 5px 5px  rgb(112, 117, 171);
}


.btn-group .btn-ext  {
     background-color: rgb(146, 145, 147);
    border: none;
    border-radius: 5px;
    color: aliceblue;
    font-size: 18px;
    padding: 10px 20px;
    margin-top: 20px;
    letter-spacing: 2px;
    box-shadow:10px 5px 5px  rgb(112, 117, 171);
}